/* header */
.header .header-inner {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #333;
    background-color: #557076;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 1em;
}

h1 {
    color: white !important;
    font-size: 50px !important;
    padding-top: 40px;
}

.header .container .title h2 {
    font-size: 18px;
    margin-top: .1em;
    margin-bottom: 3em;
}

/* font, body, text */
@font-face {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: sans-serif;
    font-weight:normal;
    margin: 0;
    padding: 0;
    color: #333;
    height:100%;
}

#title {
    text-align: center;
}

#content {
    font-family:sans-serif;
    font-weight:normal;
    margin: 5px;
    padding: 10px;
    width: 805px;

}

/* map styling*/
.feature {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    stroke-linejoin: round;
}
.mesh {
    fill: none;
    stroke: lightgrey;
    stroke-width: 2px;
    stroke-linejoin: round;
}

#map {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

span.year, span.count {
    font-family:sans-serif;
    font-weight:normal;
    margin: 0px 0px 0px 0px;
    font-size: 12px;
    width: 100px;
    display: inline-block;
}

.states {
    fill: #BFBFBF;
    stroke: #ffffff;
    stroke-width: 2px;
    stroke-linejoin: round;
}

/* dots on the map */
.sightings{
    fill: gainsboro;
    stroke: gainsboro;
    stroke-width: 2px;
}

.sightings:hover{
    fill: darkslategrey;
    stroke: darkslategrey;
}

.tooltipMap {
    font-family: sans-serif;
    font-weight:normal;
    position: absolute;
    padding: 12px;
    background-color: darkslategray;
    color:white;
    border-radius: 8px;
    text-align: left;
    display: inline;
    max-width: 200px;
}

#slider {
    text-align: center;
    margin-top: -30px;
}



